@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 247,112,103;
  --accentcolor2: 25,202,211;
  --linkcolor: 76,175,80;
  --mentioncolor: 247,192,104;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: gg sans;
  --backgroundaccent: 65,81,103;
  --backgroundprimary: 44,55,70;
  --backgroundsecondary: 38,48,60;
  --backgroundsecondaryalt: 44,55,70;
  --backgroundtertiary: 30,38,48;
  --backgroundfloating: 30,38,48;
  --settingsicons: 1;
}

/* Any custom CSS below here */


@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 247,112,103;
  --accentcolor2: 25,202,211;
  --linkcolor: 76,175,80;
  --mentioncolor: 247,192,104;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: gg sans;
  --backgroundaccent: 65,81,103;
  --backgroundprimary: 44,55,70;
  --backgroundsecondary: 38,48,60;
  --backgroundsecondaryalt: 44,55,70;
  --backgroundtertiary: 30,38,48;
  --backgroundfloating: 30,38,48;
  --settingsicons: 1;
}

/* Any custom CSS below here */


